<link href="{{ "css/custom.css" | absURL }}" rel="stylesheet" type="text/css">

<Section class="section">
  <div class="nav-container horizontal-rule">
    <a class="logo-link" href="/">
      {{ partial "icons/ui/logo.html" . }}
      <span class="header-hidden">Navigate back to the homepage</span>
    </a>
    <div class="nav-controls">

      <button id="aboutButton" class="icon-wrapper" type="button" onclick="location.href='/about'">
        {{ partial "icons/ui/about.html" . }}
        <div id="toolTipAbout" class="tool-tip" >
            About
        </div>
      </button>

      <button id="blogButton" class="icon-wrapper" type="button" onclick="location.href='/post'">
        {{ partial "icons/ui/blog.html" . }}
        <div id="toolTipBlog" class="tool-tip" >
            Writing
        </div>
      </button>

      <button id="projectsButton" class="icon-wrapper" type="button" onclick="location.href='/projects'">
        {{ partial "icons/ui/projects.html" . }}
        <div id="toolTipProjects" class="tool-tip" >
            Projects
        </div>
      </button>

      <button id="resumeButton" class="icon-wrapper" type="button" onclick="location.href='/resume'">
        {{ partial "icons/ui/projects.html" . }}
        <div id="toolTipResume" class="tool-tip" >
          Resumé
        </div>
      </button>

      <!--
      <button id="githubButton" class="icon-wrapper" type="button" onclick="location.href='https://github.com/daniellivingston'">
        {{ partial "icons/ui/github-header.html" . }}
        <div id="toolTipGithub" class="tool-tip" >
            GitHub
        </div>
      </button>
      -->

      <button id="themeColorButton" class="icon-wrapper"> 
        <div id="sunRays" class="sun-rays"></div>
        <div id="moonOrSun" class="moon-or-sun"></div>
        <div id="moonMask" class="moon-mask"></div>
      </button>
    </div>
</div>
</Section>

{{ $script := resources.Get "js/toggleLogos.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ $script := resources.Get "js/toggleColors.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ $script := resources.Get "js/copyUrl.js" }}
<script src="{{ $script.RelPermalink }}"></script>

<script>
document.getElementById("aboutButton").addEventListener("mouseover", () => { 
  displayToolTip("toolTipAbout"); 
});

document.getElementById("blogButton").addEventListener("mouseover", () => { 
  displayToolTip("toolTipBlog"); 
});

document.getElementById("projectsButton").addEventListener("mouseover", () => { 
  displayToolTip("toolTipProjects"); 
});

document.getElementById("resumeButton").addEventListener("mouseover", () => { 
  displayToolTip("toolTipResume"); 
});

//document.getElementById("githubButton").addEventListener("mouseover", () => { 
//  displayToolTip("toolTipGithub"); 
//});

function displayToolTip(toolTipID){
    let toolTip = document.getElementById(toolTipID);
    toolTip.style.animationName = "pan-toolbar";

    setTimeout(function(){
         toolTip.style.removeProperty('animation-name');
    }, 2000);
}

</script>